# Xcode
.DS_Store
build/*
*/DerivedData/*
*/.xcodeproj/xcuserdata/
*.pbxuser
*.perspectivev3

# CocoaPods
Pods
Podfile.lock

# Carthage
Carthage/Build

# Swift Package Manager
.build/

# Other
xcuserdata/
*.iml
.idea/
*.log
*.xcscheme
xcuserdata/
.idea/
